<div class="login-container">
  <img src="assets/Images/2873725.jpg" alt="logo">
  <form class="login-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" type="text" placeholder="Phone number, username, or email" required>
    
    <div class="password-container">
      <input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" required>
      <span class="password-toggle" (click)="togglePasswordVisibility()">
        <!-- SVG eye icon -->
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C21.27 7.61 17 4.5 12 4.5zm0 12c-2.75 0-5-2.25-5-5s2.25-5 5-5 5 2.25 5 5-2.25 5-5 5z" fill="currentColor"/>
          <circle cx="12" cy="12" r="2.5" fill="currentColor"/>
        </svg>
      </span>
      
    </div>
  
    <button type="submit">Log In</button>
  </form>
  <div class="divider">OR</div>
  <a href=""><button style="background: none; color: #385185; font-weight: bold; border: none; cursor: pointer;"></button>Forgot password?</a>
  <!-- <a href=""><p style="color: #00376b; font-size: 12px; cursor: pointer;">Forgot password?</p></a> -->
</div>

<div class="signup-section">
  Don't have an account? <a href="">Sign up</a>
</div>
